{
  "extends": "airbnb/base",
  "rules": {
    "comma-dangle": 0,
    "func-names": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "new-cap": [2, {
      "capIsNewExceptions": ["express.Router"]
    }],
    "arrow-body-style": 0
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "angular": true,
    "$": false
  }
}