/* ---------- Adapted from http://codepen.io/m412c0/pen/qahmr  ---------- */


/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
* {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}

body {
    font: 100%/1.5em "Varela Round", sans-serif;
    margin: 0;
}

input {
    background-image: none;
    border: none;
    font: 100%/1.5em "Varela Round", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.container {
    left: 50%;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ---------- my_popup ---------- */
#my_popup {
    width: 400px;
}

#my_popup h2 {
    background: #f95252;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;
}

#my_popup h2 span[class*="fontawesome-"] {
    margin-right: 14px;
}

#my_popup fieldset {
    background: #fff;
    border-radius: 0 0 20px 20px;
    padding: 20px 26px;
}

#my_popup fieldset p {
    color: #777;
    margin-bottom: 14px;
}

#my_popup fieldset p:last-child {
    margin-bottom: 0;
}

#my_popup fieldset input {
    border-radius: 3px;
}

#my_popup fieldset input[type="email"], #my_popup fieldset input[type="password"] {
    background: #eee;
    color: #777;
    padding: 4px 10px;
    width: 100%;
}

#my_popup fieldset input[type="submit"] {
    background: #33cc77;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 4px 0;
    width: 100px;
}

#my_popup fieldset input[type="submit"]:hover {
    background: #28ad63;
}
