# Include a .eslintrc for the tests directory, unless someone
# is willing to refactor and lint the rest of the codebase.
# Mocha discourages arrow callbacks. Override some rules to allow regular function callbacks.
{
  "extends": "airbnb",
  "rules": {
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "space-before-function-paren": 0,
  },
}
