<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/home/css/home.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.10/jquery.popupoverlay.js"></script>
    <script type="text/javascript" src="/assets/home-bundle.js"></script>

    <h1>{{header}}</h1>

    <div class="container">
        <!--class prefix must be equal to the popup div id prefix -->
        <button class="signup_popup_open">Get Started!</button>

        <div id="signup_popup" class="auth_popup">
            <h2><span class="fontawesome-lock"></span>Sign Up</h2>
            <form class="signup_form">
                <fieldset>

                    <p><label>Display name</label></p>
                    <p><input class="display_name_input" placeholder="Your name :)"></p>

                    <p><label>E-mail address</label></p>
                    <p><input type="email" class="email_input" placeholder="mail@address.com"></p>

                    <p><label>Password</label></p>
                    <p><input type="password" class="password_input" placeholder="password"></p>

                    <p><input type="submit" value="Sign Up"></p>
                </fieldset>
            </form>
        </div>

        <button class="login_popup_open">Log in</button>

        <div id="login_popup" class="auth_popup">
            <h2><span class="fontawesome-lock"></span>Log In</h2>
            <form class="login_form">
                <fieldset>

                    <p><label>E-mail address</label></p>
                    <p><input type="email" class="email_input" placeholder="mail@address.com"></p>

                    <p><label>Password</label></p>
                    <p><input type="password" class="password_input" placeholder="password"></p>

                    <p><input type="submit" value="Log in"></p>

                </fieldset>
            </form>
        </div>
    </div>

    <script>
        $('#signup_popup').popup({
            transition: 'all 0.3s'
        });

        $('#login_popup').popup({
            transition: 'all 0.3s'
        });
    </script>

</body>
</html>