
/* task row */
.task-items {
  position: relative;
  margin: 10px;
}

.taskrow .fa-close, .taskrow .fa-circle-thin {
  font-size: 20px;
  transition: opacity 0.1s linear, color 0.1s linear;
}

.taskrow .fa-circle-thin {
  margin-right: 30px;
}

.taskrow .fa-close {
  position: absolute;
  right: 200px;
  display: none;
}

.taskrow .fa-close:hover {
  color: #DD0000;
}

.taskrow:hover .fa-close {
  display: inline;
}

.taskrow:hover {
  /*margin: 0;*/
}
/* task row end */


/* completed row end */

.completed-row {
  padding-bottom: 10px;
}
/* completed end */


#task-panel {
    padding: 5px;
}

.task-table {
    width: 500px;
    display: block;
    margin-left: 30%;
}

.task-table .project-name {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.task-table-header {
  padding-top: 5px;
  padding-bottom: 15px;
  display: inline-block;
}

.add-milestone-btn {
  position: relative;
  left: 200px;
}

.task-table .milestone-name {
  font-size: 18px;
}

.completed {
    color: gray;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



.app-header ul {
  list-style: none;
  background-color: lavender;
  text-align: center;
  padding: 0;
  margin: 0;
}


.app-header li {
  padding-top: 1em;
  width: 120px;
  height: 50px;
  font-size: 1em;
  display: inline-block;
}

.app-header a {
  text-decoration: none;
  display: block;
  transition: .3s background-color;
}

.app-header span {
  text-decoration: none;
  display: block;
  transition: .3s background-color;
}


.app-header a:hover {
  opacity: 0.4;
}

.app-header span:hover {
  opacity: 0.4;
  cursor: pointer;
}

/* Notification badge 
 Notification Icon made by Google from www.flaticon.com is licensed under CC BY 3.0
*/
.notif {
  position: relative;
}

.btn__badge {
  background: #FF5D5D;
  color: white;
  font-size: 12px;
  position: absolute;
  top: -7px;
  right: 40px;
  padding: 1px 6px;
  border-radius: 50%;
}

.btn__badge--red {
  background: red;
}


/* panel stuff*/
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body > div > span,
body > div > h1 {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
body > div > button {
  float: left;
  margin-right: 10px;
}
span {
  color: #888888;
}
button {
  width: auto;
  padding: 7px 22px;
}
.menu {
  display: block;
}
.menu > div {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: -webkit-transform ease 250ms;
  -moz-transition: -webkit-transform ease 250ms;
  -ms-transition: -webkit-transform ease 250ms;
  -o-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  -webkit-transition: transform ease 250ms;
  -moz-transition: transform ease 250ms;
  -ms-transition: transform ease 250ms;
  -o-transition: transform ease 250ms;
  transition: transform ease 250ms;
}
.menu > div.left {
  background: lavender;
  left: -250px;
}
.menu > div.panel_visible.left {
  transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
}

.menu > div > .menu-item {
  float: left;
  width: 100%;
  margin: 0;
  padding: 10px 15px;
  border-bottom: solid 1px #dadae7;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: gray;
}
.menu > div > .menu-item:hover {
  color: orange;
}
