/************************ Github **********************/
.github-repo-list ul, .github-repo-list li {
  list-style-type: none;
}

.github-repo-list {
  overflow-y: auto;
  max-height: 50vh;
}

.github-repo-list li {
  padding-bottom: 5px;
  border-bottom: #E2E2E2;
  border-bottom-style: solid;
  border-width: thin;
  min-height: 50px;
}

.select-repo-btn {
  float: right;
}

.github-event-list {
  list-style: none;
  overflow-y: auto;
  max-height: 53vh;
}

.github-event-list  .github-event-item {
  display: block;
  padding: 5px;
  margin-left: -40px;
}

/********************* task table ************************/
.main-content {
  margin-top: 10px;
  margin-left: 30px;
}

.milestone-view, .files-list {
  overflow-y: auto;
}

.milestone-view {
  max-height: 70vh;
  min-height: 50vh;
  margin-top: 20px;
  padding: 20px;
}

.milestone-row p {
  color: #7a7a7a;
}

.files-list {
  max-height: 53vh;
}

.task-list ul {
  list-style: none;
}

.task-row {
  margin-left: -40px;
  min-height: 50px;
}

.task-content{
  display: inline-block;
  position: relative;
  bottom: 5px;
  font-size: large;
  margin-top: 14px;
}

.task-checkbox {
  display: inline-block;
  float: left;
  margin-top: 10px;
}

.task-actions {
  display: inline-block;
  margin-left: 20px;
}

.delete-task {
    margin-left: 10px;
}

.delete-task, .edit-task {
  opacity: 0.5;
}

.delete-task:hover, .edit-task:hover {
  cursor: pointer;
  display: inline-block;
  opacity: 1.0;
}

.completed-text:hover {
  cursor: pointer;
}

.completed-task-list ul {
    margin-left: -30px;
}

.completed-task-list li {
  text-decoration: line-through;
}

.completed-task-list {
    color: #aaaaaa;
}

.assignee-avatar {
  display: inline-block;
  float: right;}

/************************ Project list *******************/
.project-list ul, .project-list li {
  margin-left: 0;
  padding-left: 5px;
  list-style-type: none;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

.project-list {
  margin-top: 10px;
}

.project-list-header span {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  padding: 5px;
}

.project-list li {
  cursor: pointer;
  padding-top: 6px;
  padding-left: 15px;
  padding-bottom: 6px;
  color: #b0bec5;
}

.project-list li:hover {
  background-color: #263238;
}

.add_circle {
  color: #ffb74d;
}


.add_circle:hover {
  cursor: pointer;
}

.project-list-header {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
  color: #b0bec5;
}

/********************* table *******************/

.table-filename {
  position: relative;
  left: 10px;
}

.table-row-file {
  cursor: pointer;
}

/***************** Header *****************/

.navbar-right {
  margin-right: 80px;
}

.navbar-default {
  background-color: #424242;
  border-color: #455a64;
  border-radius:0;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #424242;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #455a64;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #455a64;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #455a64;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #455a64;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #455a64;
}
.navbar-default .navbar-toggle {
  border-color: #455a64;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #455a64;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #455a64;
  }
}

.search-box {
  margin-left: 120px;
  width: 40%;
}

.display-pic-li {
  margin-top: 8px;
}

.notif-li {
  margin-right: 20px;
}

/****************** milestone row ***********************/

.milestone-header, .more-vert-btn {
  float: left;
  display:inline;
}

.more-vert-btn {
  top: 9px;
  position: relative;
}

/************************ Project header ***************************/

#hangouts-btn-wrapper {
  margin-top: 10px;
  margin-right: 20px;
}

/******************* General ****************************/
.invisible {
  visibility: hidden;
}

.loading-indicator {
  margin-top: 20%;
  left: 45%;
  position: absolute;
}

.collab-logo h3 {
  margin-left: 60px;
  padding-top: 15px;
}

.left-panel {
  background-color: #37474f;
  color: white;
  min-width: 200px;
}

.collab-logo {
  margin-top: -20px;
  background: #424242;
  height: 50px;
}

.task-table {
  z-index: 1500;
}

.body-wrapper {
  width: 95%;
}

.my-step-container {
  margin-top: 20px;
}

/******************* Notification List****************************/
.notif-text, .notif-fuzzy-time {
  display: block;
}

.notif-fuzzy-time {
  font-size: 11px;
  color: #999;
}

.notification-list {
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
}

.notification-list .notif-item {
  display: block;
  padding: 5px;
  margin-left: -40px;
}

.notif-read {
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.notif-unread {
  background-color: #eaf5ff;
  border-bottom: 1px solid #cbdeec;
}

.notif-container {
  width: 120%
}

.notif-photo {
  float: left;
  padding-right: 10px;
}

.notif-buttons {
  margin-left: 43px;
}