/********************* task table ************************/
.task-table-content {
  margin-top: 50px;
  margin-left: 30px;
}

.milestone-view, .files-list {
  overflow-y: scroll;
}

.milestone-view {
  max-height: 60vh;
}

.files-list {
  max-height: 35vh;
}

/************************ Project list *******************/
.project-list ul, .project-list li {
  margin-left: 0;
  padding-left: 5px;
  list-style-type: none;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

.project-list-header span {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  padding: 5px;
}

.project-list li {
  cursor: pointer;
  padding-top: 6px;
  padding-left: 15px;
  padding-bottom: 6px;
  color: #b0bec5;
}

.project-list li:hover {
  background-color: #263238;
}

.add_circle {
  color: #ffb74d;
}


.add_circle:hover {
  cursor: pointer;
}

.project-list-header {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
  color: #b0bec5;
}

/******************** chat app ********************/
.chatapp {
  font-family: helvetica, arial, sans-serif;
  max-width: 760px;
  margin: 20px auto;
  overflow: hidden;
}

.message-list, .thread-list {
  border: 1px solid #ccf;
  font-size: 16px;
  height: 400px;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}

.message-thread-heading,
.thread-count {
  height: 40px;
  margin: 0;
}

.message-list-item, .thread-list-item {
  list-style: none;
  padding: 12px 14px 14px;
}

.message-author-name,
.thread-name {
  color: #66c;
  float: left;
  font-size: 13px;
  margin: 0;
}

.message-time, .thread-time {
  color: #aad;
  float: right;
  font-size: 12px;
}

.message-text, .thread-last-message {
  clear: both;
  font-size: 14px;
  padding-top: 10px;
}

.message-composer {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  height: 5em;
  width: 100%;
  margin: 20px 0 0;
  padding: 10px;
}

/********************* table *******************/

.table-filename {
  position: relative;
  left: 10px;
}

.table-row-file {
  cursor: pointer;
}

/***************** Header *****************/
.nav-link {
  transition: opacity .3s;
}
.nav-link:hover {
  opacity: 0.7;
}

.right-nav {
  padding-right: 100px;
}

.nav-brand {
  padding-left: 40px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover  {
  background-color: transparent;
}

.padded-nav {
  margin-top: 9px;
}

/****************** milestone row ***********************/

.milestone-header, .more-vert-btn {
  float: left;
  display:inline;
}

.more-vert-btn {
  top: 9px;
  position: relative;
}

/************************ Project header ***************************/
i.material-icons.add-milestone-btn {
  font-size: 36px;
}

.add-milestone-btn:hover {
  cursor: pointer;
}

.header-text {
  color: #E0E0E0;
}

.add-milestone-btn {
  float: left;
  display:inline;
  color: #d7ccc8;
  top: 15px;
  position: relative;
}

ul.online-users li {
  display: inline;
  padding: 10px 20px;
  list-style-type: none;
}

ul.online-users {
  float: right;
}

.project-header {
  margin-top: 69px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
}
/******************* General ****************************/
.header-color {
  background-color: #424242;
  border-color: #455a64;
}

.project-header-text {
  margin-left: 40px;
  float: left;
  display:inline;
}

.left-panel {
  position: fixed;
  background-color: #37474f;
  color: white;
  height: 100%;
  padding: 0;
  z-index: 1000;
}

.task-table {
  margin-left:250px;
}

.body-wrapper {
  position: fixed;
  height: 100%;
}

/******************* Notification List****************************/
.notif-title {
  font-size: 13pt;
  background-color: white;
  z-index: 1000;
  border-bottom: 1px solid #dddddd;
  font-weight: bold;
}

.notif-text, .notif-fuzzy-time {
  display: block;
}

.notification-list {
  list-style: none;
  max-height: 300px;
}

.notification-list .notif-item {
  display: block;
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid rgba(100, 100, 100, .4);
}

.notification-container {
  background-color: white;
  overflow: visible;
  top: 60px;
  width: 400px;
  z-index: 1000;
}